<div class="information-container">
  <header class="header-container">
    <div class="logo-container">
      <img src="images/logo.svg" alt="carro branco de lado">
      <p class="logo-text">Painel Administrador</p>
    </div>

    <ul class="links-list">
      <li class="list-content"><a class="link-header" href="#" id="colored-list">Clientes constantes</a></li>
      <li class="list-content"><a class="link-header" routerLink="/custos">Custos</a></li>
      <li class="list-content"><a class="link-header" routerLink="">Sair do Painel</a></li>
    </ul>
  </header>

  <section class="menu-actions">
    <div class="input-container">
      <img src="images/search.svg" alt="">
      <input type="text" name="search-input" id="search-input"
             placeholder="Pesquisar por nome, sobrenome ou telefone">
    </div>

    <ul class="links-list-menu">
      <li class="list-content-menu"><a class="link-header-menu" routerLink="/clientes"
                                       id="colored-list-gray-menu">Cliente</a>
      </li>
      <li class="list-content-menu"><a class="link-header-menu" routerLink="/enderecos"
                                       id="colored-list-gray-menu">Endereço</a></li>
      <li class="list-content-menu"><a class="link-header-menu" routerLink="/viagens"
                                       id="colored-list-menu">Viagem</a></li>
    </ul>
  </section>

  <section class="tabela-title">
    <p class="tabela-title-text1">Id</p>
    <p class="tabela-title-text2">Id Cliente</p>
    <p class="tabela-title-text3">Data</p>
    <p class="tabela-title-text4">Hora</p>
    <p class="tabela-title-text5">Ações</p>
  </section>

  <section class="tabela-container">
    @if (this.listaViagem.length == 0) {
      <p class="empty">Não há clientes cadastrados</p>
    } @else {
      <table>
        <tbody>
          @for (viagem of this.listaViagem; track viagem.id) {
            <tr>
              <td class="td_id">{{ viagem.id }}</td>
              <td class="td_id_cliente">{{ viagem.id_cliente }}</td>
              <td class="td_date">{{ viagem.date }}</td>
              <td class="td_time">{{ viagem.time }}</td>
              <td class="acoes">
                <button class="editar" title="Editar" (click)="abrirModalEditar(viagem.id)">✏️</button>
                <button class="deletar" title="Excluir" (click)="excluirCliente(viagem.id)">🗑️</button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    }
    <div class="botoes-container">
      <button class="adicionar" (click)="classeAdicionar = 'modal'">Adicionar</button>
      <div class="lado-direito">
        <p class="num-pag">1/1</p>
        <button>Anterior</button>
        <button>Próxima</button>
      </div>
    </div>
  </section>

  <div [className]="classeAdicionar" id="modalAdicionar">
    <div class="modal-conteudo">
      <h2 class="form-title">Adicionar Viagem</h2>
      <form>
        <label class="form-label">Id Cliente</label>
        <input [(ngModel)]="id_cliente" name="id_cliente" type="text" placeholder="Ex: 100">
        <label class="form-label">Data</label>
        <input [(ngModel)]="date" name="date" type="date">
        <label class="form-label">Hora</label>
        <input [(ngModel)]="time" name="time" type="time">
        <div class="botoes-form">
          <button class="confirmar" (click)="adicionar()">Salvar</button>
          <button class="cancelar" (click)="classeAdicionar = 'modal-fechado'">Cancelar</button>
        </div>
      </form>
    </div>
  </div>

  <div [className]="classeEditar" id="modalEditar">
    <div class="modal-conteudo" *ngIf="clienteEditando">
      <h2 class="form-title">Editar Viagem</h2>
      <form (submit)="salvarEdicao()">
        <label class="form-label">Id Cliente</label>
        <input [(ngModel)]="clienteEditando.id_cliente" name="id_cliente" type="text" value="100">
        <label class="form-label">Data</label>
        <input [(ngModel)]="clienteEditando.date" name="date" type="date" value="2024-04-14">
        <label class="form-label">Hora</label>
        <input [(ngModel)]="clienteEditando.time" name="time" type="time" value="19:22">
        <div class="botoes-form">
          <button class="confirmar">Atualizar</button>
          <button class="cancelar">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>
