<section class="numeros-container">
  <h1 class="numeros-title-first">Planejar sua viagem nunca ficou tão fácil</h1>

  <div class="group-number">
    <div class="number-group">
      <p class="number">1</p>
      <p class="number-title">Contate-nos</p>
      <p class="number-description">Entre em contato no WhatsApp.</p>
    </div>

    <div class="number-group">
      <p class="number">2</p>
      <p class="number-title">Aguarde</p>
      <p class="number-description">Nosso motorista se dirige até o local combinado com pontualidade.</p>
    </div>

    <div class="number-group">
      <p class="number">3</p>
      <p class="number-title">Seja feliz</p>
      <p class="number-description">A partir daí, é só relaxar e aproveitar uma viagem com conforto absoluto e segurança.</p>
    </div>
  </div>

</section>
