<section class="big-image">
  <div class="dark-overlay">
    <h1 class="title-big-image">Chegue com Estilo e Viaje com Conforto.</h1>
    <p class="text-big-image">Reserve agora sua viagem com motorista em um veículo de alto padrão e transforme <br> cada trajeto em uma experiência premium.</p>
    <div class="button-big-image">
      <a class="link-big-image" href="https://wa.link/sjggiv" target="_blank">Reservar Agora</a>
    </div>

    <div class="seta-container">
      <img class="seta-big-image" src="/images/divisao.png" alt="seta pra baixo">
    </div>
  </div>
</section>
