<div class="information-container">
  <header class="header-container">
    <div class="logo-container">
      <img src="images/logo.svg" alt="carro branco de lado">
      <p class="logo-text">Painel Administrador</p>
    </div>

    <ul class="links-list">
      <li class="list-content"><a class="link-header" href="#" id="colored-list">Clientes constantes</a></li>
      <li class="list-content"><a class="link-header" routerLink="/custos">Custos</a></li>
      <li class="list-content"><a class="link-header" routerLink="">Sair do Painel</a></li>
    </ul>
  </header>

  <section class="menu-actions">
    <div class="input-container">
      <img src="images/search.svg" alt="">
      <input type="text" name="search-input" id="search-input"
             placeholder="Pesquisar por nome, sobrenome ou telefone">
    </div>

    <ul class="links-list-menu">
      <li class="list-content-menu"><a class="link-header-menu" routerLink="/clientes"
                                       id="colored-list-gray-menu">Cliente</a>
      </li>
      <li class="list-content-menu"><a class="link-header-menu" routerLink="/enderecos" id="colored-list-menu">Endereço</a>
      </li>
      <li class="list-content-menu"><a class="link-header-menu" routerLink="/viagens"
                                       id="colored-list-gray-menu">Viagem</a></li>
    </ul>
  </section>

  <section class="tabela-title">
    <p class="tabela-title-text1">Id</p>
    <p class="tabela-title-text2">Rua</p>
    <p class="tabela-title-text3">Bairro</p>
    <p class="tabela-title-text4">Número</p>
    <p class="tabela-title-text5">Cidade</p>
    <p class="tabela-title-text6">Estado</p>
    <p class="tabela-title-text7">Ações</p>
  </section>

  <section class="tabela-container">
    <table>
      <tbody>
      <tr>
        <td>100</td>
        <td>Viaduto Austregésilo de Ataíde</td>
        <td>Santa Rita do Passa Quatro</td>
        <td>10000</td>
        <td>São Paulo</td>
        <td>SP</td>
        <td class="acoes">
          <button class="editar" title="Editar" (click)="actionsButton()">✏️</button>
          <button class="deletar" title="Excluir">🗑️</button>
        </td>
      </tr>
      <tr>
        <td>100</td>
        <td>Viaduto Austregésilo de Ataíde</td>
        <td>Santa Rita do Passa Quatro</td>
        <td>10000</td>
        <td>São Paulo</td>
        <td>SP</td>
        <td class="acoes">
          <button class="editar" title="Editar" (click)="actionsButton()">✏️</button>
          <button class="deletar" title="Excluir">🗑️</button>
        </td>
      </tr>
      <tr>
        <td>100</td>
        <td>Viaduto Austregésilo de Ataíde</td>
        <td>Santa Rita do Passa Quatro</td>
        <td>10000</td>
        <td>São Paulo</td>
        <td>SP</td>
        <td class="acoes">
          <button class="editar" title="Editar" (click)="actionsButton()">✏️</button>
          <button class="deletar" title="Excluir">🗑️</button>
        </td>
      </tr>
      <tr>
        <td>100</td>
        <td>Viaduto Austregésilo de Ataíde</td>
        <td>Santa Rita do Passa Quatro</td>
        <td>10000</td>
        <td>São Paulo</td>
        <td>SP</td>
        <td class="acoes">
          <button class="editar" title="Editar" (click)="actionsButton()">✏️</button>
          <button class="deletar" title="Excluir">🗑️</button>
        </td>
      </tr>
      <tr>
        <td>100</td>
        <td>Viaduto Austregésilo de Ataíde</td>
        <td>Santa Rita do Passa Quatro</td>
        <td>10000</td>
        <td>São Paulo</td>
        <td>SP</td>
        <td class="acoes">
          <button class="editar" title="Editar" (click)="actionsButton()">✏️</button>
          <button class="deletar" title="Excluir">🗑️</button>
        </td>
      </tr>
      <tr>
        <td>100</td>
        <td>Viaduto Austregésilo de Ataíde</td>
        <td>Santa Rita do Passa Quatro</td>
        <td>10000</td>
        <td>São Paulo</td>
        <td>SP</td>
        <td class="acoes">
          <button class="editar" title="Editar" (click)="actionsButton()">✏️</button>
          <button class="deletar" title="Excluir">🗑️</button>
        </td>
      </tr>
      <tr>
        <td>100</td>
        <td>Viaduto Austregésilo de Ataíde</td>
        <td>Santa Rita do Passa Quatro</td>
        <td>10000</td>
        <td>São Paulo</td>
        <td>SP</td>
        <td class="acoes">
          <button class="editar" title="Editar" (click)="actionsButton()">✏️</button>
          <button class="deletar" title="Excluir">🗑️</button>
        </td>
      </tr>
      <tr>
        <td>100</td>
        <td>Viaduto Austregésilo de Ataíde</td>
        <td>Santa Rita do Passa Quatro</td>
        <td>10000</td>
        <td>São Paulo</td>
        <td>SP</td>
        <td class="acoes">
          <button class="editar" title="Editar" (click)="actionsButton()">✏️</button>
          <button class="deletar" title="Excluir">🗑️</button>
        </td>
      </tr>
      </tbody>
    </table>

    <div class="botoes-container">
      <button class="adicionar" (click)="actionsButton()">Adicionar</button>
      <div class="lado-direito">
        <p class="num-pag">1/1</p>
        <button>Anterior</button>
        <button>Próxima</button>
      </div>
    </div>
  </section>

  <div class="modal" id="modalAdicionar">
    <div class="modal-conteudo">
      <h2 class="form-title">Adicionar Endereço</h2>
      <form>
        <label class="form-label">Rua</label>
        <input type="text" placeholder="Ex: Viaduto Austregésilo de Ataíde">
        <label class="form-label">Bairro</label>
        <input type="text" placeholder="Ex: Santa Rita do Passa Quatro">
        <label class="form-label">Número</label>
        <input type="number" placeholder="Ex: 1000">
        <label class="form-label">Cidade</label>
        <input type="text" placeholder="Ex: São Paulo">
        <label class="form-label" for="estados">Escolha o Estado</label>

        <select name="estados" id="estados">
          <option value="AC">AC</option>
          <option value="AL">AL</option>
          <option value="AP">AP</option>
          <option value="AM">AM</option>
          <option value="BA">BA</option>
          <option value="CE">CE</option>
          <option value="DF">DF</option>
          <option value="ES">ES</option>
          <option value="GO">GO</option>
          <option value="MA">MA</option>
          <option value="MT">MT</option>
          <option value="MS">MS</option>
          <option value="MG">MG</option>
          <option value="PA">PA</option>
          <option value="PB">PB</option>
          <option value="PR">PR</option>
          <option value="PE">PE</option>
          <option value="PI">PI</option>
          <option value="RJ">RJ</option>
          <option value="AM">AM</option>
          <option value="RN">RN</option>
          <option value="RS">RS</option>
          <option value="RO">RO</option>
          <option value="RR">RR</option>
          <option value="SC">SC</option>
          <option value="SP">SP</option>
          <option value="SE">SE</option>
          <option value="TO">TO</option>
        </select>
        <div class="botoes-form">
          <button class="confirmar">Salvar</button>
          <button class="cancelar">Cancelar</button>
        </div>
      </form>
    </div>
  </div>

  <div class="modal" id="modalEditar">
    <div class="modal-conteudo">
      <h2 class="form-title">Editar Endereço</h2>
      <form>
        <label class="form-label">Rua</label>
        <input type="text" value="Viaduto Austregésilo de Ataíde">
        <label class="form-label">Bairro</label>
        <input type="text" value="Santa Rita do Passa Quatro">
        <label class="form-label">Número</label>
        <input type="number" value="1000">
        <label class="form-label">Cidade</label>
        <input type="text" value="São Paulo">
        <label class="form-label" for="estados">Escolha o Estado</label>

        <select name="estados" id="estados">
          <option value="AC">AC</option>
          <option value="AL">AL</option>
          <option value="AP">AP</option>
          <option value="AM">AM</option>
          <option value="BA">BA</option>
          <option value="CE">CE</option>
          <option value="DF">DF</option>
          <option value="ES">ES</option>
          <option value="GO">GO</option>
          <option value="MA">MA</option>
          <option value="MT">MT</option>
          <option value="MS">MS</option>
          <option value="MG">MG</option>
          <option value="PA">PA</option>
          <option value="PB">PB</option>
          <option value="PR">PR</option>
          <option value="PE">PE</option>
          <option value="PI">PI</option>
          <option value="RJ">RJ</option>
          <option value="AM">AM</option>
          <option value="RN">RN</option>
          <option value="RS">RS</option>
          <option value="RO">RO</option>
          <option value="RR">RR</option>
          <option value="SC">SC</option>
          <option value="SP" selected>SP</option>
          <option value="SE">SE</option>
          <option value="TO">TO</option>
        </select>
        <div class="botoes-form">
          <button class="confirmar">Atualizar</button>
          <button class="cancelar">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>
