.numeros-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.numeros-title-first {
  color: var(--numeros-title-first);
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
}

.number {
  color: var(--numeros-basic);
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 70px;
}

.number-title {
  color: var(--numeros-basic);
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
}

.number-description {
  color: var(--numeros-basic);
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  margin-top: 10px;
}

.group-number {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
}

.number-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 150px;
}
