
<header class="header-container">
  <div class="logo-container">
    <img class="logo-img" src="/images/logo.svg" alt="Logo carro branco">
    <p class="logo-title">Viagens Express</p>
  </div>
  <ul class="links-list">
    <li class="list-content"><a class="link-header" href="#sobre-container">Sobre</a></li>
    <li class="list-content"><a class="link-header" href="#price">Preço</a></li>
    <li class="list-content"><a class="link-header" href="#avaliacao">Avaliações</a></li>
  </ul>
</header>
