<section class="price-container" id="price">
  <h1 class="price-title">Veja nossos valores</h1>

  <div class="price-card">
    <img src="images/carro-frente.svg" alt="ícone de carro branco">
    <div class="info-section">
      <h1 class="title-info">Informações do veículo</h1>
      <p class="text-info">Chevrolet Tracker 2025<br>
        Cor Preta <br>
        Até 4 passageiros <br>
        Ar-condicionado e Wi-Fi <br>
        Porta-malas de 393 litros
      </p>

      <p class="sub-price">A partir de R$ 4,00/km</p>
      <a class="price-link" href="https://wa.link/sjggiv" target="_blank">Reservar Agora</a>
    </div>
  </div>
</section>
