.price-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.price-title {
  color: var(--price-titles);
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  margin-top: 70px;
}

.price-card {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 835px;
  background-color: var(--price-background);
  margin-top: 40px;
  border: 3px solid var(--price-borders);
  border-radius: 10px;
  padding: 30px;
  gap: 30px;
}

.info-section {
  padding: 20px;
  border-left: 3px solid var(--price-borders);
}

.title-info {
  color: var(--price-titles);
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  margin-bottom: 20px;
}

.text-info {
  color: var(--price-content);
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 15px;
}

.sub-price {
  color: var(--price-titles);
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.price-link {
  text-decoration: none;
  color: var(--price-content);
  background-color: var(--price-borders);
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 10px;
}
