<div class="information-container">
  <header class="header-container">
    <div class="logo-container">
      <img src="images/logo.svg" alt="carro branco de lado">
      <p class="logo-text">Painel Administrador</p>
    </div>

    <ul class="links-list">
      <li class="list-content"><a class="link-header" routerLink="/clientes">Clientes
        constantes</a></li>
      <li class="list-content"><a class="link-header" href="#" id="colored-list">Custos</a></li>
      <li class="list-content"><a class="link-header" (click)="logout()" routerLink="">Sair do Painel</a></li>
    </ul>
  </header>

  <section class="menu-actions">
    <div class="input-container">
      <img src="images/search.svg" alt="">
      <input type="text" name="search-input" id="search-input"
      [(ngModel)]="filtro"
      (input)="aplicarFiltro()" placeholder="Pesquisar por nome, sobrenome ou telefone">
    </div>
  </section>

  <section class="tabela-title">
    <p class="tabela-title-text1">Id</p>
    <p class="tabela-title-text2">Descrição</p>
    <p class="tabela-title-text3">Valor Gasto (R$)</p>
    <p class="tabela-title-text4">Qtd Parcelas</p>
    <p class="tabela-title-text5">Data</p>
    <p class="tabela-title-text6">Ações</p>
  </section>

  <section class="tabela-container">
    @if (this.listaCustos.length == 0) {
      <p class="empty">Não há custos cadastrados</p>
    } @else {
      <table>
        <tbody>
          @for (custos of this.custosPaginados; track custos.id) {
            <tr>
              <td class="td_id">{{ custos._id }}</td>
              <td class="td_descricao">{{ custos.descricao }}</td>
              <td class="td_valorGasto">{{ custos.valorGasto }}</td>
              <td class="td_qtdParcelas">{{ custos.qtdParcelas }}</td>
              <td class="td_data">{{custos.data}}</td>
              <td class="acoes">
                <button class="editar" title="Editar" (click)="abrirModalEditar(custos._id)">✏️</button>
                <button class="deletar" title="Excluir" (click)="excluirCliente(custos._id)">🗑️</button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    }

    <div class="botoes-container">
      <button class="adicionar" (click)="classeAdicionar = 'modal'">Adicionar</button>
      <div class="lado-direito">
        <p class="num-pag">{{ paginaAtual }}/{{ totalPaginas }}</p>
        <button (click)="mudarPagina(paginaAtual - 1)" [disabled]="paginaAtual === 1">Anterior</button>
        <button (click)="mudarPagina(paginaAtual + 1)" [disabled]="paginaAtual === totalPaginas">Próxima</button>
      </div>
    </div>
  </section>

  <div [className]="classeAdicionar" id="modalAdicionar">
    <div class="modal-conteudo">
      <h2 class="form-title">Adicionar Gasto</h2>
      <form>
        <label class="form-label">Descrição</label>
        <input [(ngModel)]="descricao" name="descricao" type="text" placeholder="Digite a descrição">
        <label class="form-label">Valor Gasto</label>
        <input [(ngModel)]="valorGasto" name="valorGasto" type="number" placeholder="Ex: 1000.00">
        <label class="form-label">Qtd Parcelas</label>
        <input [(ngModel)]="qtdParcelas" name="qtdParcelas" type="number" placeholder="Ex: 9">
        <label class="form-label">Data</label>
        <input [(ngModel)]="data" name="data" type="date" class="date">
        <div class="botoes-form">
          <button class="confirmar" (click)="adicionar()">Salvar</button>
          <button class="cancelar" (click)="classeAdicionar = 'modal-fechado'">Cancelar</button>
        </div>
      </form>
    </div>
  </div>

  <div [className]="classeEditar" id="modalEditar">
    <div class="modal-conteudo" *ngIf="clienteEditando">
      <h2 class="form-title">Editar Gasto</h2>
      <form>
        <label class="form-label">Descrição</label>
        <input [(ngModel)]="clienteEditando.descricao" name="descricao" type="text">
        <label class="form-label">Valor Gasto</label>
        <input [(ngModel)]="clienteEditando.valorGasto" name="valorGasto" type="number">
        <label class="form-label">Qtd Parcelas</label>
        <input [(ngModel)]="clienteEditando.qtdParcelas" name="qtdParcelas" type="number">
        <label class="form-label">Data</label>
        <input [(ngModel)]="clienteEditando.data" name="data" type="date">
        <div class="botoes-form">
          <button class="confirmar" (click)="salvarEdicao()">Atualizar</button>
          <button class="cancelar" (click)="classeAdicionar = 'modal-fechado'">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>
