.motivo-usar-servico {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.title-motivo {
  color: var(--title-motivo);
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
}

.subtitle-motivo {
  color: var(--subtitle-motivo);
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.title-rectangle-motivo {
  color: var(--title-rectangle-motivo);
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 18px;
}

.text-rectangle-motivo {
  color: var(--text-rectangle-motivo);
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
}

.rectangles-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
  max-width: 835px;
}

.rectangle-motivo-container {
  position: absolute;
  top: 0;
  left: 4px;
  background-color: var(--rectangle-motivo-container);
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
  height: 100px;
  width: 400px;
}

.first-rectangle-container {
  position: relative;
  background-color: var(--first-rectangle-container);
  border-radius: 10px;
  height: 100px;
  width: 400px;
  padding: 20px;
}
