<div class="information-container">
  <header class="header-container">
    <div class="logo-container">
      <img src="/images/logo.svg" alt="carro branco de lado">
      <p class="logo-text">Painel Administrador</p>
    </div>

    <ul class="links-list">
      <li class="list-content"><a class="link-header" href="#" id="colored-list">Clientes constantes</a></li>
      <li class="list-content"><a class="link-header" routerLink="/custos">Custos</a></li>
      <li class="list-content"><a class="link-header" routerLink="">Sair do Painel</a></li>
    </ul>
  </header>

  <section class="menu-actions">
    <div class="input-container">
      <img src="images/search.svg" alt="">
      <input type="text" name="search-input" id="search-input"
      [(ngModel)]="filtro"
      (input)="aplicarFiltro()" placeholder="Pesquisar por nome, sobrenome ou telefone">
    </div>

    <ul class="links-list-menu">
      <li class="list-content-menu"><a class="link-header-menu" routerLink="/clientes"
                                       id="colored-list-menu">Cliente</a>
      </li>
      <li class="list-content-menu"><a class="link-header-menu" routerLink="/enderecos"
                                       id="colored-list-gray-menu">Endereço</a></li>
      <li class="list-content-menu"><a class="link-header-menu" routerLink="/viagens"
                                       id="colored-list-gray-menu">Viagem</a></li>
    </ul>
  </section>

  <section class="tabela-title">
    <p class="tabela-title-text1">Id</p>
    <p class="tabela-title-text2">Nome</p>
    <p class="tabela-title-text3">Sobrenome</p>
    <p class="tabela-title-text4">Id End.</p>
    <p class="tabela-title-text5">Telefone</p>
    <p class="tabela-title-text6">Telefone 2</p>
    <p class="tabela-title-text7">Ações</p>
  </section>

  <section class="tabela-container">

    @if (this.listaClientes.length == 0) {
      <p class="empty">Não há clientes cadastrados</p>
    } @else {
      <table>
        <tbody>
          @for (cliente of this.custosPaginados; track cliente.id) {
            <tr>
              <td class="td_id">{{ cliente._id }}</td>
              <td class="td_nome">{{ cliente.nome }}</td>
              <td class="td_sobrenome">{{ cliente.sobrenome }}</td>
              <td class="td_id_endereco">{{ cliente.id_endereco }}</td>
              <td class="td_telefone">{{ cliente.telefone }}</td>
              <td class="td_telefone2">{{ cliente.telefone2 }}</td>
              <td class="acoes">
                <button class="editar" title="Editar" (click)="abrirModalEditar(cliente._id)">✏️</button>
                <button class="deletar" title="Excluir" (click)="excluirCliente(cliente._id)">🗑️</button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    }

    <div class="botoes-container">
      <button class="adicionar" (click)="classeAdicionar = 'modal'">Adicionar</button>
      <div class="lado-direito">
        <p class="num-pag">{{ paginaAtual }}/{{ totalPaginas }}</p>
        <button (click)="mudarPagina(paginaAtual - 1)" [disabled]="paginaAtual === 1">Anterior</button>
        <button (click)="mudarPagina(paginaAtual + 1)" [disabled]="paginaAtual === totalPaginas">Próxima</button>
      </div>
    </div>
  </section>

  <div [class]="classeAdicionar" id="modalAdicionar">
    <div class="modal-conteudo">
      <h2 class="form-title">Adicionar Cliente</h2>
      <form>
        <label class="form-label">Nome</label>
        <input [(ngModel)]="nome" name="nome" type="text" placeholder="Digite o nome do cliente">
        <label class="form-label">Sobrenome</label>
        <input [(ngModel)]="sobrenome" name="sobrenome" type="text" placeholder="Digite o sobrenome do cliente">
        <label class="form-label">Id do Endereço</label>
        <input [(ngModel)]="id_endereco" name="id_endereco" type="number" placeholder="Ex: 9">
        <label class="form-label">Telefone *</label>
        <input [(ngModel)]="telefone" name="telefone" type="text" placeholder="Ex: (11) 96854-4925">
        <label class="form-label">Telefone 2</label>
        <input [(ngModel)]="telefone2" name="telefone2" type="text" placeholder="Ex: (11) 96854-4925">
        <div class="botoes-form">
          <button class="confirmar" (click)="adicionar()">Salvar</button>
          <button class="cancelar" (click)="classeAdicionar = 'modal-fechado'">Cancelar</button>
        </div>
      </form>
    </div>
  </div>

  <div [class]="classeEditar" id="modalEditar">
    <div class="modal-conteudo" *ngIf="clienteEditando">
      <h2 class="form-title">Editar Cliente</h2>
      <form (submit)="salvarEdicao()">
        <label class="form-label">Nome</label>
        <input [(ngModel)]="clienteEditando.nome" name="nome" type="text">
        <label class="form-label">Sobrenome</label>
        <input [(ngModel)]="clienteEditando.sobrenome" name="sobrenome" type="text">
        <label class="form-label">Id do Endereço</label>
        <input [(ngModel)]="clienteEditando.id_endereco" name="id_endereco" type="number">
        <label class="form-label">Telefone *</label>
        <input [(ngModel)]="clienteEditando.telefone" name="telefone" type="text">
        <label class="form-label">Telefone 2</label>
        <input [(ngModel)]="clienteEditando.telefone2" name="telefone2" type="text">
        <div class="botoes-form">
          <button class="confirmar" type="submit">Atualizar</button>
          <button class="cancelar" (click)="classeEditar='modal-fechado'">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>
