<section class="login-container">
  <div class="logo-container">
    <img src="/images/logo.svg" alt="carro branco de lado">
    <p class="logo-text">Viagens Express</p>
  </div>

  <div class="intro-container">
    <h1 class="login-title">Painel Administrador</h1>

    <p class="login-text">Você precisa estar logado para acessar as funcionalidades do administrador</p>
  </div>

  <input [(ngModel)]="email" type="email" name="email-input" id="email-input" placeholder="Login">
  <input [(ngModel)]="senha" type="password" name="pass-input" id="pass-input" placeholder="Senha">

  <p *ngIf="erro" style="color: red;">{{ erro }}</p>

  <button class="login-button" (click)="login()">Entrar</button>
</section>

<router-outlet></router-outlet>
