@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --background-landing-page: #0d0d0d;
    --background-header: #1f1f1f;
    --color-logo-title: #ffffff;
    --link-header-color: #ffffff;
    --title-big-image: #ffffff;
    --text-big-image: #ffffff;
    --button-big-image-color: #C8AA6E;
    --button-big-image-text-color: #ffffff;
    --title-motivo: #C8AA6E;
    --subtitle-motivo: #ffffff;
    --title-rectangle-motivo: #C8AA6E;
    --text-rectangle-motivo: #ffffff;
    --first-rectangle-container: #C8AA6E;
    --rectangle-motivo-container: #1F1F1F;
    --numeros-title-first: #C8AA6E;
    --numeros-basic: #ffffff;
    --price-titles: #C8AA6E;
    --price-content: #ffffff;
    --price-borders: #C8AA6E;
    --price-background: #1F1F1F;
    --avaliacao-title: #C8AA6E;
    --avaliacao-text: #ffffff;
    --avaliacao-name: #C8AA6E;
    --avaliacao-border: #C8AA6E;
    --avaliacao-card: #1F1F1F;
    --footer-container: #1F1F1F;
    --footer-text: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-landing-page);
}

.header-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 100px;
    background-color: var(--background-header);
}

.logo-img {
    width: 80px;
    height: 80px;
    top: 13px;
    left: 130px;
    position: absolute;
}

.logo-title {
    position: absolute;
    height: 40px;
    top: 35px;
    left: 220px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--color-logo-title);
    font-size: 30px;
}

.links-list {
    position: absolute;
    height: 22px;
    top: 45px;
    left: 1157px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.list-content {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    letter-spacing: -0.31px;
    line-height: normal;
    margin-left: 30px;
}

.link-header {
    text-decoration: none;
    color: var(--link-header-color);
}

.big-image {
    background-image: url(../images/carro-inteiro.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 86.4vh;
    width: 100%;
    position: relative;
}

.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 86.4vh;
    background-color: rgba(0, 0, 0, 0.4);

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.title-big-image {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    color: var(--title-big-image);
    margin-bottom: 15px;
}

.text-big-image {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-bottom: 40px;
    color: var(--text-big-image);
}

.link-big-image {
    color: var(--button-big-image-text-color);
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    background-color: var(--button-big-image-color);
    padding: 15px;
    border-radius: 10px;
}

.seta-big-image {
    position: relative;
    top: 12em;
}

.motivo-usar-servico {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-top: 70px;
}

.title-motivo {
    color: var(--title-motivo);
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
}

.subtitle-motivo {
    color: var(--subtitle-motivo);
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.title-rectangle-motivo {
    color: var(--title-rectangle-motivo);
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 18px;
}

.text-rectangle-motivo {
    color: var(--text-rectangle-motivo);
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}

.rectangles-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
    max-width: 835px;
}

.rectangle-motivo-container {
    position: absolute;
    top: 0;
    left: 4px;
    background-color: var(--rectangle-motivo-container);
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    height: 100px;
    width: 400px;
}

.first-rectangle-container {
    position: relative;
    background-color: var(--first-rectangle-container);
    border-radius: 10px;
    height: 100px;
    width: 400px;
    padding: 20px;
}

.numeros-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.numeros-title-first {
    color: var(--numeros-title-first);
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
}

.number {
    color: var(--numeros-basic);
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 70px;
}

.number-title {
    color: var(--numeros-basic);
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}

.number-description {
    color: var(--numeros-basic);
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    margin-top: 10px;
}

.group-number {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
}

.number-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 150px;
}

.price-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.price-title {
    color: var(--price-titles);
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    margin-top: 70px;
}

.price-card {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 835px;
    background-color: var(--price-background);
    margin-top: 40px;
    border: 3px solid var(--price-borders);
    border-radius: 10px;
    padding: 30px;
    gap: 30px;
}

.info-section {
    padding: 20px;
    border-left: 3px solid var(--price-borders);
}

.title-info {
    color: var(--price-titles);
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    margin-bottom: 20px;
}

.text-info {
    color: var(--price-content);
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
}

.sub-price {
    color: var(--price-titles);
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.price-link {
    text-decoration: none;
    color: var(--price-content);
    background-color: var(--price-borders);
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 10px;
}

.avaliacao-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 835px;
}

.avaliacao-title {
    color: var(--avaliacao-title);
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    margin-top: 70px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
    gap: 20px;
}

.avaliacao-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    text-align: justify;


    background-color: var(--avaliacao-card);
    padding: 20px;
    margin-top: 40px;
    max-width: 265px;
    height: 240px;
    border: 3px solid var(--avaliacao-border);
    border-radius: 10px;
}

.avaliacao-text {
    color: var(--avaliacao-text);
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    margin-top: 10px;
}

.avaliacao-name {
    color: var(--avaliacao-name);
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    margin-top: 10px;
}

.footer-container {
    background-color: var(--footer-container);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.footer-rights {
    color: var(--avaliacao-text);
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 13px;
}