.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: var(--background-header);
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 150px;
}

.logo-text {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--texts-header);
  font-size: 30px;
}

.links-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-right: 150px;
}

.list-content {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 15px;
  letter-spacing: -0.31px;
  line-height: normal;
  margin-left: 30px;
}

.link-header {
  text-decoration: none;
  color: var(--link-header-color);
}

.link-header:hover {
  border-bottom: 3px solid white;
}

#colored-list {
  background-color: var(--colored-list);
  padding: 10px;
  border-radius: 10px;
}

#colored-list-gray {
  background-color: var(--colored-list-gray);
  padding: 10px;
  border-radius: 10px;
}

.menu-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 150px 40px 150px;
}

.links-list-menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.list-content-menu {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 15px;
  letter-spacing: -0.31px;
  line-height: normal;
  margin-left: 15px;
}

.link-header-menu {
  text-decoration: none;
  color: var(--link-header-color);
}

.input-container {
  display: flex;
  justify-content: start;
  align-items: center;
  border: 3px solid var(--border-search);
  padding: 10px 20px 10px 10px;
  border-radius: 10px;
  gap: 10px;
}

#search-input {
  background-color: transparent;
  width: 650px;
  color: var(--input-search);
  border: none;
  outline: none;
}

#search-input:focus {
  outline: none;
}

#colored-list-menu {
  background-color: var(--colored-list);
  padding: 10px 20px;
  border-radius: 10px;
}

#colored-list-gray-menu {
  background-color: var(--colored-list-gray);
  padding: 10px 20px;
  border-radius: 10px;
}

#colored-list-gray-menu:hover {
  background-color: var(--colored-list);
}

.tabela-title {
  display: flex;
  justify-self: center;
  background-color: var(--background-tabela-title);
  padding: 15px;
  width: 100%;
  max-width: 1230px;
  margin-bottom: 20px;
  border-radius: 15px;
}

.tabela-title-text1,
.tabela-title-text2,
.tabela-title-text3,
.tabela-title-text4,
.tabela-title-text5,
.tabela-title-text6,
.tabela-title-text7 {
  color: var(--tabela-title-color);
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 15px;
}

.tabela-title-text2 {
  margin-left: 7vw;
}

.tabela-title-text3 {
  margin-left: 16vw;
}

.tabela-title-text4 {
  margin-left: 5vw;
}

.tabela-title-text5 {
  margin-left: 2.5vw;
}

.tabela-title-text6 {
  margin-left: 20vw;
}

.tabela-container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: 100%;
  max-width: 1230px;
}

table {
  border-collapse: collapse;
  background-color: var(--background-table);
  border: 2px solid var(--border-table);
}

th,
td {
  padding: 10px;
  border: 1px solid var(--border-table);
  text-align: left;
  vertical-align: middle;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 15px;
  color: var(--text-table);
}

#aumentar {
  padding-right: 25px;
}

.acoes {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.editar,
.deletar {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.botoes-container {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.botoes-container button {
  background-color: var(--background-button-table);
  color: var(--color-button-table);
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.lado-direito {
  display: flex;
  align-items: center;
  gap: 10px;
}

.num-pag {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--color-num-pag);
}

.botoes-container button:hover {
  background-color: var(--background-button-table-hover);
}


.botao-adicionar {
  background-color: var(--background-button-table);
  color: var(--color-button-table);
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.botao-adicionar:hover {
  background-color: var(--background-button-table-hover);
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-page-dark);
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-conteudo {
  background-color: var(--background-form-table);
  padding: 30px;
  border-radius: 12px;
  width: 100%;
  max-width: 500px;
}

.modal-conteudo h2 {
  margin-bottom: 20px;
}

.modal-conteudo form {
  display: flex;
  flex-direction: column;
}

.modal-conteudo label {
  margin: 10px 0 5px;
}

.modal-conteudo input {
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: var(--background-form-input);
  color: var(--color-form-words);
}

.botoes-form {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.botoes-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.confirmar {
  background-color: var(--confirmar-form-button);
  color: var(--color-form-words);
}

.cancelar {
  background-color: var(--cancelar-form-button);
  color: var(--color-form-words);
}

.form-title,
.form-label {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
  color: var(--color-form-words);
}

.form-label {
  font-size: 15px;
}
